h1{
    border-radius: 20px;
    border: 1px solid #FFD580;
    background-color: #ffffff;
    padding: 20px;
    display: inline-block;
    font-family: 'Amatic SC', sans-serif;
    font-size: 100px
}

h2{
    font-size: 24px;
    margin-top: 1px;
    color: black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px
}

h3{
    border-radius: 10px;
    background-color: #FFFDD0;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 500px;
    margin-right: 500px;
    color: #0ABAB5;
    font-family: 'Amatic SC', sans-serif;
    font-size: 35px
}

nav{
    text-align: center;
    line-height: 5px; 
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

form{
    text-align: center;
    display: inline-block;
    width: 700px;
    font-family: 'Roboto', sans-serif;
}

fieldset {
    text-align: left; 
    width: 75%;
}

header{
    line-height: 5px;
    font-family: 'Roboto', sans-serif;
}

article{
    text-align: left;
}

html{
    scroll-behavior: smooth;
}


.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:gold;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.2 ease-out;
}

.back-to-top span{
    color: #ffffff;
    transition: 0.2 ease-out;
}

.back-to-top:hover{
    transform: translateY(-4px);
}
